# 17.1

In [27]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('books.db')

# Display authors in descending order
pd.read_sql("""SELECT id, first, last FROM authors ORDER BY last DESC""", connection, index_col=['id'])

DatabaseError: Execution failed on sql 'SELECT id, first, last FROM authors ORDER BY last DESC': no such table: authors

In [28]:
# Display titles in ascending order
pd.read_sql("""SELECT title FROM titles ORDER BY title ASC""", connection)

Empty DataFrame
Columns: [title]
Index: []

In [29]:
# Order the information alphabetically by title
pd.read_sql("""SELECT first, last, isbn, copyright FROM authors INNER JOIN author_ISBN ON authors.id = author_ISBN. id ORDER BY title ASC""", connection).head()

DatabaseError: Execution failed on sql 'SELECT first, last, isbn, copyright FROM authors INNER JOIN author_ISBN ON authors.id = author_ISBN. id ORDER BY title ASC': no such table: authors

In [32]:
# Create a cursor and insert a new author
cursor = connection.cursor()
cursor = cursor.execute("""INSERT INTO authors (first,last) VALUES ('Greg', 'Ross')""")
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

OperationalError: no such table: authors

In [34]:
# Insert a new title for an author
cursor = cursor.execute("""UPDATE titles SET title='Advanced Python' WHERE title='Intro to Python for CS and DS'""")

OperationalError: database is locked